[Unit]
Description=Force the modem online
Requires=dbus.service
After=dbus.service
Before=ofono.service

[Service]
Type=simple
ExecStart=/bin/sh /usr/bin/droid/ofono-force.sh

[Install]
WantedBy=multi-user.target
